In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [23]:
import pandas as pd

# Try using 'latin1' encoding
customersdf = pd.read_csv("C:/GLOBAL_ELECTRONICS/env/Customers.csv", encoding='latin1')


print(customersdf)

       CustomerKey  Gender               Name                 City State Code  \
0              301  Female      Lilly Harding       WANDEARAH EAST         SA
1              325  Female       Madison Hull           MOUNT BUDD         WA
2              554  Female      Claire Ferres            WINJALLOK        VIC
3              786    Male  Jai Poltpalingada         MIDDLE RIVER         SA
4             1042    Male    Aidan Pankhurst        TAWONGA SOUTH        VIC
...            ...     ...                ...                  ...        ...
15261      2099600  Female     Denisa Duková              Houston         TX
15262      2099618    Male   Justin Solórzano               Mclean         VA
15263      2099758    Male    Svend Petrussen           Wilmington         NC
15264      2099862  Female       Lorenza Rush            Riverside         CA
15265      2099937    Male   Zygmunt Kaminski  Bloomfield Township         MI

                   State Zip Code        Country      Continent    Birthday
0        South Australia     5523      Australia      Australia    7/3/1939
1      Western Australia     6522      Australia      Australia   9/27/1979
2               Victoria     3380      Australia      Australia   5/26/1947
3        South Australia     5223      Australia      Australia   9/17/1957
4               Victoria     3698      Australia      Australia  11/19/1965
...                  ...      ...            ...            ...         ...
15261              Texas    77017  United States  North America   3/25/1936
15262           Virginia    22101  United States  North America   2/16/1992
15263     North Carolina    28405  United States  North America   11/9/1937
15264         California    92501  United States  North America  10/12/1937
15265           Michigan    48302  United States  North America   8/18/1965

[15266 rows x 10 columns]

In [24]:
print(customersdf.head(10))

   CustomerKey  Gender               Name            City State Code  \
0          301  Female      Lilly Harding  WANDEARAH EAST         SA
1          325  Female       Madison Hull      MOUNT BUDD         WA
2          554  Female      Claire Ferres       WINJALLOK        VIC
3          786    Male  Jai Poltpalingada    MIDDLE RIVER         SA
4         1042    Male    Aidan Pankhurst   TAWONGA SOUTH        VIC
5         1086    Male       Hayden Clegg        TEMPLERS         SA
6         1133    Male    Nicholas Caffyn  JUBILEE POCKET        QLD
7         1256    Male      Lincoln Jenks        KULLOGUM        QLD
8         1314    Male       Isaac Israel     EDITH RIVER         NT
9         1568    Male        Luke Virtue           KOTTA        VIC

                State Zip Code    Country  Continent    Birthday
0     South Australia     5523  Australia  Australia    7/3/1939
1   Western Australia     6522  Australia  Australia   9/27/1979
2            Victoria     3380  Australia  Australia   5/26/1947
3     South Australia     5223  Australia  Australia   9/17/1957
4            Victoria     3698  Australia  Australia  11/19/1965
5     South Australia     5371  Australia  Australia   1/20/1954
6          Queensland     4802  Australia  Australia  11/22/1969
7          Queensland     4660  Australia  Australia   3/12/1950
8  Northern Territory      852  Australia  Australia  12/21/1965
9            Victoria     3565  Australia  Australia   7/25/1975

In [25]:
# Display summary information
print(customersdf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB
None

In [26]:
# Check for missing values
print(customersdf.isnull().sum())

CustomerKey     0
Gender          0
Name            0
City            0
State Code     10
State           0
Zip Code        0
Country         0
Continent       0
Birthday        0
dtype: int64

In [27]:
customersdf.dropna(subset=['State Code'], inplace=True)

In [28]:
# Check for missing values
print(customersdf.isnull().sum())

CustomerKey    0
Gender         0
Name           0
City           0
State Code     0
State          0
Zip Code       0
Country        0
Continent      0
Birthday       0
dtype: int64

In [29]:
# Ensure 'Zip Code' is treated as a string
customersdf['Zip Code'] = customersdf['Zip Code'].astype(str)

# Convert 'Birthday' to datetime
customersdf['Birthday'] = pd.to_datetime(customersdf['Birthday'], format='%m/%d/%Y')

# Optionally, convert 'CustomerKey' to string if it is an identifier
customersdf['CustomerKey'] = customersdf['CustomerKey'].astype(str)

In [30]:
# Convert the Birthday column to datetime
customersdf['Birthday'] = pd.to_datetime(customersdf['Birthday'])

In [33]:
# Function to calculate age
def calculate_age(born):
    today = datetime.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

# Apply the function to calculate age
customersdf['Age'] = customersdf['Birthday'].apply(calculate_age)

In [34]:
# Drop the Birthday column
customersdf = customersdf.drop(columns=['Birthday'])

# Display the updated DataFrame
print(customersdf)

      CustomerKey  Gender               Name                 City State Code  \
0             301  Female      Lilly Harding       WANDEARAH EAST         SA
1             325  Female       Madison Hull           MOUNT BUDD         WA
2             554  Female      Claire Ferres            WINJALLOK        VIC
3             786    Male  Jai Poltpalingada         MIDDLE RIVER         SA
4            1042    Male    Aidan Pankhurst        TAWONGA SOUTH        VIC
...           ...     ...                ...                  ...        ...
15261     2099600  Female     Denisa Duková              Houston         TX
15262     2099618    Male   Justin Solórzano               Mclean         VA
15263     2099758    Male    Svend Petrussen           Wilmington         NC
15264     2099862  Female       Lorenza Rush            Riverside         CA
15265     2099937    Male   Zygmunt Kaminski  Bloomfield Township         MI

                   State Zip Code        Country      Continent  Age
0        South Australia     5523      Australia      Australia   85
1      Western Australia     6522      Australia      Australia   44
2               Victoria     3380      Australia      Australia   77
3        South Australia     5223      Australia      Australia   66
4               Victoria     3698      Australia      Australia   58
...                  ...      ...            ...            ...  ...
15261              Texas    77017  United States  North America   88
15262           Virginia    22101  United States  North America   32
15263     North Carolina    28405  United States  North America   86
15264         California    92501  United States  North America   86
15265           Michigan    48302  United States  North America   58

[15256 rows x 10 columns]

In [35]:
# Verify the changes
print(customersdf.info())

<class 'pandas.core.frame.DataFrame'>
Index: 15256 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15256 non-null  object
 1   Gender       15256 non-null  object
 2   Name         15256 non-null  object
 3   City         15256 non-null  object
 4   State Code   15256 non-null  object
 5   State        15256 non-null  object
 6   Zip Code     15256 non-null  object
 7   Country      15256 non-null  object
 8   Continent    15256 non-null  object
 9   Age          15256 non-null  int64
dtypes: int64(1), object(9)
memory usage: 1.3+ MB
None

In [11]:
print(customersdf['Zip Code'].dtype)
print(customersdf['CustomerKey'].dtype)

object
object

In [36]:
# Check for duplicate rows
print(customersdf.duplicated().sum())

0

In [13]:
# Check for missing values
print(customersdf.isnull().sum())

CustomerKey    0
Gender         0
Name           0
City           0
State Code     0
State          0
Zip Code       0
Country        0
Continent      0
Birthday       0
dtype: int64

In [37]:
# Save the cleaned DataFrame to a new CSV file
customersdf.to_csv('cleaned_customers.csv', index=False)

In [15]:
salesdf = pd.read_csv("C:/GLOBAL_ELECTRONICS/env/Sales.csv")
print(salesdf)

       Order Number  Line Item Order Date Delivery Date  CustomerKey  \
0            366000          1   1/1/2016           NaN       265598
1            366001          1   1/1/2016     1/13/2016      1269051
2            366001          2   1/1/2016     1/13/2016      1269051
3            366002          1   1/1/2016     1/12/2016       266019
4            366002          2   1/1/2016     1/12/2016       266019
...             ...        ...        ...           ...          ...
62879       2243030          1  2/20/2021           NaN      1216913
62880       2243031          1  2/20/2021     2/24/2021       511229
62881       2243032          1  2/20/2021     2/23/2021       331277
62882       2243032          2  2/20/2021     2/23/2021       331277
62883       2243032          3  2/20/2021     2/23/2021       331277

       StoreKey  ProductKey  Quantity Currency Code
0            10        1304         1           CAD
1             0        1048         2           USD
2             0        2007         1           USD
3             0        1106         7           CAD
4             0         373         1           CAD
...         ...         ...       ...           ...
62879        43         632         3           USD
62880         0          98         4           EUR
62881         0        1613         2           CAD
62882         0        1717         2           CAD
62883         0         464         7           CAD

[62884 rows x 9 columns]

In [16]:
# Display summary information
print(salesdf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB
None

In [17]:
# Check for missing values
print(salesdf.isnull().sum())

Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

In [18]:
# Drop the 'Delivery Date' column
salesdf = salesdf.drop(columns=['Delivery Date'])

# Verify the result
print(salesdf.head())

   Order Number  Line Item Order Date  CustomerKey  StoreKey  ProductKey  \
0        366000          1   1/1/2016       265598        10        1304
1        366001          1   1/1/2016      1269051         0        1048
2        366001          2   1/1/2016      1269051         0        2007
3        366002          1   1/1/2016       266019         0        1106
4        366002          2   1/1/2016       266019         0         373

   Quantity Currency Code
0         1           CAD
1         2           USD
2         1           USD
3         7           CAD
4         1           CAD

In [19]:
# Check for missing values
print(salesdf.isnull().sum())

Order Number     0
Line Item        0
Order Date       0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

In [20]:
# Convert 'Order Date' and 'Delivery Date' to datetime
salesdf['Order Date'] = pd.to_datetime(salesdf['Order Date'], format='%m/%d/%Y')

# Optionally, convert 'Order Number', 'CustomerKey', 'StoreKey', and 'ProductKey' to string
salesdf['Order Number'] = salesdf['Order Number'].astype(str)
salesdf['CustomerKey'] = salesdf['CustomerKey'].astype(str)
salesdf['StoreKey'] = salesdf['StoreKey'].astype(str)
salesdf['ProductKey'] = salesdf['ProductKey'].astype(str)

# Verify the conversions
print(salesdf.dtypes)

Order Number             object
Line Item                 int64
Order Date       datetime64[ns]
CustomerKey              object
StoreKey                 object
ProductKey               object
Quantity                  int64
Currency Code            object
dtype: object

In [21]:
# Save the cleaned DataFrame to a new CSV file
salesdf.to_csv('cleaned_salesdf.csv', index=False)

# Verify the file is saved by checking the current working directory or reading the file back
# Example: Read the saved file to verify
cleaned_salesdf = pd.read_csv('cleaned_salesdf.csv')
print(cleaned_salesdf.head())

   Order Number  Line Item  Order Date  CustomerKey  StoreKey  ProductKey  \
0        366000          1  2016-01-01       265598        10        1304
1        366001          1  2016-01-01      1269051         0        1048
2        366001          2  2016-01-01      1269051         0        2007
3        366002          1  2016-01-01       266019         0        1106
4        366002          2  2016-01-01       266019         0         373

   Quantity Currency Code
0         1           CAD
1         2           USD
2         1           USD
3         7           CAD
4         1           CAD

In [3]:
storesdf = pd.read_csv("C:/GLOBAL_ELECTRONICS/env/Stores.csv")
print(storesdf)

    StoreKey        Country                         State  Square Meters  \
0          1      Australia  Australian Capital Territory          595.0
1          2      Australia            Northern Territory          665.0
2          3      Australia               South Australia         2000.0
3          4      Australia                      Tasmania         2000.0
4          5      Australia                      Victoria         2000.0
..       ...            ...                           ...            ...
62        63  United States                          Utah         2000.0
63        64  United States                 Washington DC         1330.0
64        65  United States                 West Virginia         1785.0
65        66  United States                       Wyoming          840.0
66         0         Online                        Online            NaN

    Open Date
0    1/1/2008
1   1/12/2008
2    1/7/2012
3    1/1/2010
4   12/9/2015
..        ...
62   3/6/2008
63   1/1/2010
64   1/1/2012
65   1/1/2014
66   1/1/2010

[67 rows x 5 columns]

In [4]:
# Display summary information
print(storesdf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB
None

In [9]:
# Check for missing values
print(storesdf.isnull().sum())

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64

In [ ]:
mean_value = storesdf['Square Meters'].mean()
storesdf['Square Meters'].fillna(mean_value, inplace=True)

In [11]:
storesdf['Open Date'] = pd.to_datetime(storesdf['Open Date'], dayfirst=False, errors='coerce')

In [12]:
# Display summary information
print(storesdf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  67 non-null     float64
 4   Open Date      67 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.7+ KB
None

In [13]:
# Saving the cleaned dataframe to a CSV file
storesdf.to_csv('cleaned_stores.csv', index=False)

In [14]:
productsdf = pd.read_csv("C:/GLOBAL_ELECTRONICS/env/Products.csv")
print(productsdf)

      ProductKey                                   Product Name    Brand  \
0              1            Contoso 512MB MP3 Player E51 Silver  Contoso
1              2              Contoso 512MB MP3 Player E51 Blue  Contoso
2              3               Contoso 1G MP3 Player E100 White  Contoso
3              4              Contoso 2G MP3 Player E200 Silver  Contoso
4              5                 Contoso 2G MP3 Player E200 Red  Contoso
...          ...                                            ...      ...
2512        2513    Contoso Bluetooth Active Headphones L15 Red  Contoso
2513        2514  Contoso Bluetooth Active Headphones L15 White  Contoso
2514        2515             Contoso In-Line Coupler E180 White  Contoso
2515        2516             Contoso In-Line Coupler E180 Black  Contoso
2516        2517            Contoso In-Line Coupler E180 Silver  Contoso

       Color Unit Cost USD Unit Price USD  SubcategoryKey  \
0     Silver        $6.62         $12.99              101
1       Blue        $6.62         $12.99              101
2      White        $7.40         $14.52              101
3     Silver       $11.00         $21.57              101
4        Red       $11.00         $21.57              101
...      ...           ...            ...             ...
2512     Red       $43.07        $129.99              505
2513   White       $43.07        $129.99              505
2514   White        $1.71          $3.35              505
2515   Black        $1.71          $3.35              505
2516  Silver        $1.71          $3.35              505

                  Subcategory  CategoryKey     Category
0                     MP4&MP3            1        Audio
1                     MP4&MP3            1        Audio
2                     MP4&MP3            1        Audio
3                     MP4&MP3            1        Audio
4                     MP4&MP3            1        Audio
...                       ...          ...          ...
2512  Cell phones Accessories            5  Cell phones
2513  Cell phones Accessories            5  Cell phones
2514  Cell phones Accessories            5  Cell phones
2515  Cell phones Accessories            5  Cell phones
2516  Cell phones Accessories            5  Cell phones

[2517 rows x 10 columns]

In [16]:
# Display summary information
print(productsdf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB
None

In [18]:
# Remove dollar signs and convert to float using raw strings
productsdf['Unit Cost USD'] = productsdf['Unit Cost USD'].replace(r'[\$,]', '', regex=True).astype(float)
productsdf['Unit Price USD'] = productsdf['Unit Price USD'].replace(r'[\$,]', '', regex=True).astype(float)

# Display the data types to confirm the change
print(productsdf.dtypes)

ProductKey          int64
Product Name       object
Brand              object
Color              object
Unit Cost USD     float64
Unit Price USD    float64
SubcategoryKey      int64
Subcategory        object
CategoryKey         int64
Category           object
dtype: object

In [19]:
# Check for missing values
print(productsdf.isnull().sum())

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [20]:
# Saving the cleaned dataframe to a CSV file
productsdf.to_csv('cleaned_products.csv', index=False)

In [4]:
exchange_ratesdf = pd.read_csv("C:\\GLOBAL_ELECTRONICS\\env\\Exchange_Rates.csv")

print(exchange_ratesdf)

            Date Currency  Exchange
0       1/1/2015      USD    1.0000
1       1/1/2015      CAD    1.1583
2       1/1/2015      AUD    1.2214
3       1/1/2015      EUR    0.8237
4       1/1/2015      GBP    0.6415
...          ...      ...       ...
11210  2/20/2021      USD    1.0000
11211  2/20/2021      CAD    1.2610
11212  2/20/2021      AUD    1.2723
11213  2/20/2021      EUR    0.8238
11214  2/20/2021      GBP    0.7126

[11215 rows x 3 columns]

In [5]:
# Check for missing values
print(exchange_ratesdf.isnull().sum())

Date        0
Currency    0
Exchange    0
dtype: int64

In [6]:
# Display summary information
print(exchange_ratesdf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB
None

In [9]:
import pandas as pd

# Assuming your DataFrame is named exchange_ratesdf
exchange_ratesdf['Date'] = pd.to_datetime(exchange_ratesdf['Date'], format='%m/%d/%Y')

# Verify the conversion
print(exchange_ratesdf.dtypes)
print(exchange_ratesdf)

Date        datetime64[ns]
Currency            object
Exchange           float64
dtype: object
            Date Currency  Exchange
0     2015-01-01      USD    1.0000
1     2015-01-01      CAD    1.1583
2     2015-01-01      AUD    1.2214
3     2015-01-01      EUR    0.8237
4     2015-01-01      GBP    0.6415
...          ...      ...       ...
11210 2021-02-20      USD    1.0000
11211 2021-02-20      CAD    1.2610
11212 2021-02-20      AUD    1.2723
11213 2021-02-20      EUR    0.8238
11214 2021-02-20      GBP    0.7126

[11215 rows x 3 columns]

In [10]:
# Saving the cleaned dataframe to a CSV file
exchange_ratesdf.to_csv('cleaned_exchangerates.csv', index=False)