In [1]:
import pandas as pd

# Load data
stores_df = pd.read_csv("cleaned_stores.csv")
sales_df = pd.read_csv("cleaned_salesdf.csv")
products_df = pd.read_csv("cleaned_products.csv")
exchange_rates_df = pd.read_csv("cleaned_exchangerates.csv")
customers_df = pd.read_csv("cleaned_customers.csv")

In [2]:
sales_products_df = pd.merge(sales_df, products_df, on='ProductKey', how='left')

In [3]:
sales_products_stores_df = pd.merge(sales_products_df, stores_df, on='StoreKey', how='left')

In [4]:
sales_products_stores_customers_df = pd.merge(sales_products_stores_df, customers_df, on='CustomerKey', how='left')

In [6]:
exchange_rates_df['Date'] = pd.to_datetime(exchange_rates_df['Date'])

In [7]:
# Merge with exchange rates based on Date and Currency Code
merged_df = pd.merge(sales_products_stores_customers_df, exchange_rates_df, 
                     left_on=['Order Date', 'Currency Code'], 
                     right_on=['Date', 'Currency'], 
                     how='left')

In [9]:
# Drop the original Date column from the exchange rates DataFrame
merged_df = merged_df.drop(columns=['Date'])

# Rename columns if needed
merged_df = merged_df.rename(columns={'Exchange': 'Exchange Rate'})

In [10]:
print(merged_df.head())
print(merged_df.info())

   Order Number  Line Item Order Date  CustomerKey  StoreKey  ProductKey  \
0        366000          1 2016-01-01       265598        10        1304
1        366001          1 2016-01-01      1269051         0        1048
2        366001          2 2016-01-01      1269051         0        2007
3        366002          1 2016-01-01       266019         0        1106
4        366002          2 2016-01-01       266019         0         373

   Quantity Currency Code                            Product Name  \
0         1           CAD         Contoso Lens Adapter M450 White
1         2           USD         A. Datum SLR Camera X136 Silver
2         1           USD  Fabrikam Microwave 1.5CuFt X1100 Black
3         7           CAD          Contoso SLR Camera M146 Orange
4         1           CAD   Adventure Works Laptop8.9 E0890 White

             Brand  ...            Name      City  State Code     State_y  \
0          Contoso  ...    Tyler Vaught    London          ON     Ontario
1         A. Datum  ...  Frank Upchurch   Auberry          CA  California
2         Fabrikam  ...  Frank Upchurch   Auberry          CA  California
3          Contoso  ...      Joan Roche  Red Deer          AB     Alberta
4  Adventure Works  ...      Joan Roche  Red Deer          AB     Alberta

  Zip Code      Country_y      Continent   Age Currency  Exchange Rate
0  N5W 5K6         Canada  North America  53.0      CAD         1.3884
1    93602  United States  North America  28.0      USD         1.0000
2    93602  United States  North America  28.0      USD         1.0000
3  T4N 2A6         Canada  North America  61.0      CAD         1.3884
4  T4N 2A6         Canada  North America  61.0      CAD         1.3884

[5 rows x 32 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    62884 non-null  int64
 1   Line Item       62884 non-null  int64
 2   Order Date      62884 non-null  datetime64[ns]
 3   CustomerKey     62884 non-null  int64
 4   StoreKey        62884 non-null  int64
 5   ProductKey      62884 non-null  int64
 6   Quantity        62884 non-null  int64
 7   Currency Code   62884 non-null  object
 8   Product Name    62884 non-null  object
 9   Brand           62884 non-null  object
 10  Color           62884 non-null  object
 11  Unit Cost USD   62884 non-null  float64
 12  Unit Price USD  62884 non-null  float64
 13  SubcategoryKey  62884 non-null  int64
 14  Subcategory     62884 non-null  object
 15  CategoryKey     62884 non-null  int64
 16  Category        62884 non-null  object
 17  Country_x       62884 non-null  object
 18  State_x         62884 non-null  object
 19  Square Meters   62884 non-null  float64
 20  Open Date       62884 non-null  object
 21  Gender          62854 non-null  object
 22  Name            62854 non-null  object
 23  City            62854 non-null  object
 24  State Code      62854 non-null  object
 25  State_y         62854 non-null  object
 26  Zip Code        62854 non-null  object
 27  Country_y       62854 non-null  object
 28  Continent       62854 non-null  object
 29  Age             62854 non-null  float64
 30  Currency        62884 non-null  object
 31  Exchange Rate   62884 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(8), object(18)
memory usage: 15.4+ MB
None

In [11]:
# Saving the cleaned dataframe to a CSV file
merged_df.to_csv('mergeddfs.csv', index=False)

In [13]:
merged_df = pd.read_csv("mergeddfs.csv")

In [14]:
# Check for missing values
print(merged_df.isnull().sum())

Order Number       0
Line Item          0
Order Date         0
CustomerKey        0
StoreKey           0
ProductKey         0
Quantity           0
Currency Code      0
Product Name       0
Brand              0
Color              0
Unit Cost USD      0
Unit Price USD     0
SubcategoryKey     0
Subcategory        0
CategoryKey        0
Category           0
Country_x          0
State_x            0
Square Meters      0
Open Date          0
Gender            30
Name              30
City              30
State Code        30
State_y           30
Zip Code          30
Country_y         30
Continent         30
Age               30
Currency           0
Exchange Rate      0
dtype: int64

In [15]:
import pandas as pd

# Assuming merged_df is your DataFrame
# Drop rows with missing values in specific columns
cleaned_df = merged_df.dropna(subset=['Gender', 'Name', 'City', 'State Code', 'Age'])

# Verify the cleaned DataFrame
print(cleaned_df.isnull().sum())
print(cleaned_df.head())

Order Number      0
Line Item         0
Order Date        0
CustomerKey       0
StoreKey          0
ProductKey        0
Quantity          0
Currency Code     0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
Country_x         0
State_x           0
Square Meters     0
Open Date         0
Gender            0
Name              0
City              0
State Code        0
State_y           0
Zip Code          0
Country_y         0
Continent         0
Age               0
Currency          0
Exchange Rate     0
dtype: int64
   Order Number  Line Item  Order Date  CustomerKey  StoreKey  ProductKey  \
0        366000          1  2016-01-01       265598        10        1304
1        366001          1  2016-01-01      1269051         0        1048
2        366001          2  2016-01-01      1269051         0        2007
3        366002          1  2016-01-01       266019         0        1106
4        366002          2  2016-01-01       266019         0         373

   Quantity Currency Code                            Product Name  \
0         1           CAD         Contoso Lens Adapter M450 White
1         2           USD         A. Datum SLR Camera X136 Silver
2         1           USD  Fabrikam Microwave 1.5CuFt X1100 Black
3         7           CAD          Contoso SLR Camera M146 Orange
4         1           CAD   Adventure Works Laptop8.9 E0890 White

             Brand  ...            Name      City  State Code     State_y  \
0          Contoso  ...    Tyler Vaught    London          ON     Ontario
1         A. Datum  ...  Frank Upchurch   Auberry          CA  California
2         Fabrikam  ...  Frank Upchurch   Auberry          CA  California
3          Contoso  ...      Joan Roche  Red Deer          AB     Alberta
4  Adventure Works  ...      Joan Roche  Red Deer          AB     Alberta

  Zip Code      Country_y      Continent   Age Currency  Exchange Rate
0  N5W 5K6         Canada  North America  53.0      CAD         1.3884
1    93602  United States  North America  28.0      USD         1.0000
2    93602  United States  North America  28.0      USD         1.0000
3  T4N 2A6         Canada  North America  61.0      CAD         1.3884
4  T4N 2A6         Canada  North America  61.0      CAD         1.3884

[5 rows x 32 columns]

In [16]:
# Saving the cleaned dataframe to a CSV file
cleaned_df.to_csv('mergeddfs.csv', index=False)

In [8]:
import pandas as pd
from sqlalchemy import create_engine

csv_file_path = 'mergeddfs.csv'

df = pd.read_csv(csv_file_path)

engine = create_engine('mysql+pymysql://root:@localhost:3306/geanalysis')
table_name = 'merged_data' 

df.to_sql(table_name, engine, if_exists='replace', index=False) 
print(f"Data has been successfully transferred to the {table_name} table in the MySQL database.")

Data has been successfully transferred to the merged_data table in the MySQL database.

In [9]:
import pandas as pd
from sqlalchemy import create_engine

csv_file_path = 'cleaned_salesdf.csv'

df = pd.read_csv(csv_file_path)

engine = create_engine('mysql+pymysql://root:@localhost:3306/geanalysis')
table_name = 'sales_data' 

df.to_sql(table_name, engine, if_exists='replace', index=False) 
print(f"Data has been successfully transferred to the {table_name} table in the MySQL database.")

Data has been successfully transferred to the sales_data table in the MySQL database.